.cards {
  display: grid;
  list-style-type: none;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  padding: 0;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
}

.card__image {
  width: 282px;
  height: 282px;
}

.card__content {
  display: flex;
  background: white;
  color: black;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.card__title {
  padding-left: 20px;
}

.card__button-like {
  background: transparent url(../images/heart-icon-regular.svg) no-repeat;
  border: none;
  width: 21px;
  height: 18px;
  padding-right: 30px;
}
