.header {
  margin: 45px auto 0;
  border-bottom: solid 1px #545454;
  padding-bottom: 37px;
}

@media screen and (max-width: 620px) {
  .header__logo {
    max-width: 126px;
    width: 100%;
  }

  .header {
    margin: 0 auto;
    max-width: 100%;
  }
}
